<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link href="{% static '/css/login.css' %}" rel="stylesheet" type="text/css">
    
</head>
<body>
    <h2> Invoice Management System</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
        <form action="/register" method="post">
            {% csrf_token %}

            <h4 style="color:red">{{message}}</h4>
            
            <h1>Create Account</h1>
            
            <input type="text" placeholder="Name" id="name" name="name" required />
            <input type="email" placeholder="Email" id="username" name="username" required />
            <input type="password" placeholder="Password" id="password" name="password" required />
            <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required />
            <button type="submit">Sign Up</button>
        </form>
    </div>
	
	<div class="form-container sign-in-container">
		<form action="/login" method="post">
			{% csrf_token %}

			<h4 style="color:red">{{message}}</h4>
            
			<h1>Sign in</h1>
			<input type="hidden" name="next" value="{{ request.GET.next }}" />
			<input type="email" name="username" id="username" placeholder="Email" required />
			<input type="password" name="password" id="password" placeholder="Password" required />
			<!-- <a href="#">Forgot your password?</a> -->
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Admin Panel !</h1>
				<p>Not a Admin? Register</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<div>
	{% for message in messages %}
	<p>{{message.info}}</p>
	{% endfor %}
</div>


<script type="text/javascript" src="{% static '/js/login.js' %}"></script>
</body>
</html>